/* Reset */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Global */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input {
    font-family: inherit;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

/* Header */

.header-box {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav-container {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px
}

.header-part-logo {
    color: #2e2f42;
}

.header-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.active-list-item .navigation {
    position: relative;
    color: #404bbf;
}

.active-list-item .navigation::after {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    content: "";
    border-radius: 2px;

}

.navigation {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:focus,
.navigation:hover {
    color: #404bbf;
}

.navigation:active {
    color: #404bbf;

}

.header-contacts {
    margin-left: auto;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-info:focus,
.contacts-info:hover {
    color: #404bbf;
}

/* Order section */

.order-container {
    padding: 188px 0;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;
    max-width: 496px;
}

.title-button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:focus,
.title-button:hover {
    background-color: #404bbf;
}

/* Advantages section */

.advantages-container {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list-item {
    width: calc((100% - 24px) / 3);
}

.advantages-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
}

.advantages-item-container svg {
    margin: 0 auto;
    display: block;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team section */

.team-container {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-section-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.team-list-item {
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-info {
    padding: 32px 0;
}

.staff-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.staff-major {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-list svg {
    display: block;
    fill: #f4f4fd;
}

.team-social-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 12px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list a:hover,
.team-social-list a:focus {
    background-color: #404bbf;
}

/* Portfolio section */

.portfolio-container {
    padding: 120px 0;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
}

.portfolio-item-container {
    position: relative;
    overflow: hidden;
}

.portfolio-example-text {
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-example-text,
.portfolio-list-item:focus .portfolio-example-text {
    transform: translateY(0);
}

.portfolio-list-item-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-list-item {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.app-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.app-scope {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.main-footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.container-about-footer {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-part-logo {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.container-social-footer {
    margin-right: 80px;
}

.social-footer-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-list svg {
    display: block;
    fill: #f4f4fd;
}

.footer-social-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list a:hover,
.footer-social-list a:focus {
    background-color: #31d0aa;
}

.container-subscribe-footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.subscribe-footer-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    min-height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: inherit;
    padding: 8px 0px 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    height: 40px;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;

    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}

.subscribe-btn-icon {
    fill: #fff;
    margin-left: 16px
}

/* Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 408px;
    min-height: 584px;

    transform: translate(-50%, -50%);

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, 100%);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-left: auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 24px;
    width: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.modal-close-btn svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-input-container {
    margin-bottom: 8px;
}

.modal-input-container {
    margin-bottom: 8px;
}

.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.input-container {
    position: relative;
}

.modal-user-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    width: 100%;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-input:hover,
.modal-user-input:focus {
    border-color: #4d5ae5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-input:focus+.input-icon {
    fill: #4d5ae5;
}

.form-textarea-container {
    margin-bottom: 16px;
}

.modal-user-textarea {
    resize: none;
    min-width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    width: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
}

.modal-user-textarea:focus,
.modal-user-textarea:hover {
    border-color: #4d5ae5;
}

.form-checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-label-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-span {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-checkbox-privacy:checked+label .checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.form-btn-send {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn-send:focus,
.form-btn-send:hover {
    background-color: #404bbf;
}